
<form class="form-container" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <div>
      <label for="email">Email:</label>
      <input type="email" id="email" formControlName="email">
      <div *ngIf="loginForm.get('email')?.errors?.['required'] && loginForm.get('email')?.touched" class="error">
        Email is required.
      </div>
      <div *ngIf="loginForm.get('email')?.errors?.['email'] && loginForm.get('email')?.touched" class="error">
        Please enter a valid email address.
      </div>
    </div>
    <div>
      <label for="mobileNumber">Mobile Number:</label>
      <input type="text" id="mobileNumber" formControlName="mobileNumber">
      <div *ngIf="loginForm.get('mobileNumber')?.errors?.['required'] && loginForm.get('mobileNumber')?.touched" class="error">
        Mobile number is required.
      </div>
      <div *ngIf="loginForm.get('mobileNumber')?.errors?.['pattern'] && loginForm.get('mobileNumber')?.touched" class="error">
        Please enter a valid mobile number (10 digits).
      </div>
    </div>
    <button type="submit" [disabled]="!loginForm.valid">Login</button>
  </form>
  